
body{
	color:#686868;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	line-height:1.80857;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

ul, li, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}


html, body{ height: 100%; 
}

/*------------------------------------------------------------------
    Preloader
-------------------------------------------------------------------*/

 #mhead{
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center; 
    font-family: georgia;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: -10px;
} 

#loader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 9999;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../images/loader-animation.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }


/*------------------------------------------------------------------
    Scrollup
-------------------------------------------------------------------*/
.scrollup{
    width:40px;
    height:40px;            
    text-indent:-9999px;
    opacity:0.3;
    position:fixed;
    bottom:20px;
    right:40px;
    display:none;           
    background:url(../images/icon_top.png) no-repeat;
}

.scrollup:hover{
    opacity:0.8;
}

/*------------------------------------------------------------------
    HEADER AREA
-------------------------------------------------------------------*/

#site-header{
    
}
#header{}
.logo{
    float:left;
}
.header-block-top{
    position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}

.main-menu{}
.header-block-top .navbar-brand {
    margin: 0 !important;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
.main-menu .navbar-default{
    background-color:transparent;
}
.main-menu .navbar{
    min-height:inherit;
    border-radius:0px;
    border:none;
    margin:0px;
}
.main-menu nav .navbar-header .navbar-brand{
    height:inherit;
}
.main-menu .navbar-default .navbar-nav li a{
    color:#fff;
}
.main-menu nav li a{
    padding: 43px 0px 15px;
    margin: 0 14px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    position:relative;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 14px;
}

.main-menu nav li a::after,  .main-menu nav li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-menu nav li a::before {
    background: #b5b5b5;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.main-menu nav li.active a::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu .navbar-default .navbar-nav .active a{
    background-color:transparent;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #202020;
    transition: 0.5s;
    padding: 10px 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand{
    padding: 10px 0 10px;
}

.fixed-menu .navbar-brand>img {
    max-width: 150px;
}

.fixed-menu .main-menu nav li a{
    padding: 32px 0px 10px 0;
}

/*------------------------------------------------------------------
    BANNER AREA
-------------------------------------------------------------------*/

.banner{
    background:url(../images/banner.jpg) no-repeat center top;
    background-attachment:fixed;
    background-size:cover;
    height:100vh;
    min-height:100%;
}

.banner .container, .banner .banner-static, .banner .col-lg-12 {
    height: 100%;
}
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.banner-cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.banner-text h1 {
    font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
    display: inline-block;
    font-size: 74px;
    line-height: 100px;
    color:#fff;
    padding-bottom: 0px;
    padding-top:100px;
}

.banner-text h2 {
    font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
    font-size: 37px;
    line-height: 100px;
    padding-bottom:25px;
}
.banner-text p{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#ccc;
    padding-bottom:35px;
    margin:0px;
}

.book-btn a{
    /*background:#e75b1e;*/
    color:#fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform:uppercase;
    font-size:18px;
}
.book-btn a:hover{
    border:3px solid red;
    background:none;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: red;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


.banner-cell .mouse {
  position: relative;
  width: calc(16px * 2);
  height: calc(31px * 2);
  margin: 60px auto 20px;
  background: none;
  border: 2px solid white;
  border-radius: calc(16px * 2);
  z-index: 1;
}
.banner-cell .mouse:after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(4px * 2);
  height: calc(4px * 2);
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  -webkit-animation-name: scrollWheel;
          animation-name: scrollWheel;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  will-change: transform;
}

@-webkit-keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    from {
      -webkit-transform: translate(-50%, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      -webkit-transform: translate(-50%, 40px);
      -webkit-transform: translate3d(-50%, 40px, 0);
      transform: translate(-50%, 40px);
      transform: translate3d(-50%, 40px, 0);
      opacity: 0;
    }
  }
}

@keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
  @media (min-width: 768px) {
    from {
      -webkit-transform: translate(-50%, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate(-50%, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
    to {
      -webkit-transform: translate(-50%, 40px);
      -webkit-transform: translate3d(-50%, 40px, 0);
      transform: translate(-50%, 40px);
      transform: translate3d(-50%, 40px, 0);
      opacity: 0;
    }
  }
}
    
/*------------------------------------------------------------------
    ABOUT AREA
-------------------------------------------------------------------*/

.about-main{
    background:#E6E6E6;
}
.pad-top-100{
    padding-top: 90px;
}
.pad-bottom-100{
    padding-bottom: 90px;
}

.pad-top-70{
    padding-top: 70px;
}
.pad-bottom-70{
    padding-bottom: 70px;
}

.block-title{
    font-size:52px;
    font-family: 'nautilus_pompiliusregular';
    font-weight: bold;
}

.about-images {
    text-align: center;
    position: relative;
}

.about-main h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:20px;
}

.left-btn{
    padding-top:10px;
}


.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    max-width: 100%;
}

.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}

/*------------------------------------------------------------------
    SPECIAL-MENU AREA
-------------------------------------------------------------------*/
.special-menu{
    background:url(../images/special_menu_bg.jpg) no-repeat center;
    background-attachment:fixed;
    background-size:cover;
    position:relative;
}

.special-menu:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 0;
    left: 0;
}

.title-caption {
    letter-spacing: 0.16px;
    padding: 20px 120px;
    color:#fff;
    font-size: 18px;
}
.color-white {
    color: #fff;
}

#owl-demo .item{
  margin: 15px;
  position:relative;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.special-box .owl-theme .owl-controls{
    margin:0px;
}

.item-type-zoom{
    border:4px solid #fff;
}
.item-type-zoom .item-hover {
    z-index: 5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}

.item-type-zoom .item-info {
    z-index: 10;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    z-index: 5;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    bottom:0px;
}




